.cards-container{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
  justify-content:center;
  padding:40px 20px;
}

/* Card CSS */
.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card p{
  color:white;
  margin:0;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg,#e81cff,#40c9ff);
  z-index: -10;
  transition: 0.6s;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg,#fc00ff,#00dbde);
  transform: scale(0.95);
  filter: blur(20px);
  z-index: -1;
}

.heading{
  font-size:20px;
  font-weight:bold;
}

.card:hover::after{
  filter:blur(30px);
}

.card:hover::before{
  transform:rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

/* From Uiverse.io by xXJollyHAKERXx */ 
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
